* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}

html, body {height: 100%;}

.content{
    display:grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(80px, auto);

    grid-template-areas:
    "header header header header header"
    ". main main main aside"
    ". main main main aside"
    ". footer footer footer footer";
    margin: 3px;
    gap: 3px;
    padding: 3px;
    border: 32px solid rgb(17, 65, 110);

}

header{
    grid-area:header;
    background-color:hsla(215, 100%, 51%, 0.377);
    border: 2px solid black;
    text-align: justify;
    align-content: center;
}

.big{
    font-size: 10em;
    text-align: justify;
    
}

.bitch{
    font-size: 2em;
    font-style: italic;
}

.image{
    width:100%;
    border: 6px solid black;
}

main{
    grid-area: main;
    background-color: rgb(140, 170, 184);
    border: 2px solid black;
    align-content: center;
}

aside{
    grid-area: aside;
    background-color: rgb(133, 220, 255);
    border: 2px solid black;
}

footer{
    grid-area: footer;
    background-color: rgb(107, 171, 187);
    border: 2px solid black;
}

.content > * {
    color:rgb(113, 138, 155);
    text-align: center;
    padding: 10px;
}
